<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Multi-tool Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7803AD8C1C31EAF6005A3AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7803ADA01C31EAF6005A3AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7803ADAB1C31EAF6005A3AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
